<ion-header class="header">
  <ion-toolbar>
    <ion-toggle slot="end" id="switchMode" (ionChange)="changeLanguage($event)" [checked]="isChecked">
      <span *ngIf="isChecked">UA</span>
      <span *ngIf="!isChecked">EN</span>
    </ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">{{'CARDS.CARD_TITLE' | translate}}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="content">{{'CARDS.CARD_CONTENT' | translate}}:)</ion-card-content>

    <div class="btn-wrapper">
      <ion-button class="btn" routerLink="/posts">{{'CARDS.CARD_ACTIONS.GO_TO' | translate}}</ion-button>
      <ion-button class="btn" routerLink="/" (click)="goToRecent()">{{'CARDS.CARD_ACTIONS.SEE_RECENT' | translate}}</ion-button>
    </div>
  </ion-card>

  <p class="server-answer" *ngIf="serverData$ | async as serverData">
     {{serverData.myData}}
  </p>
</ion-content>
